{{#if isAdmin}}
<div class="header-menu-box">
	<a href="" class="js-settings-btn btn header-btn">
		<i class="js-settings-icon fa fa-cog icon-small"></i>
		&nbsp;{{i18n.recordings.settingsBtnText}}
	</a>
</div>
{{/if}}
<div id="recordings_wrapper" class="recordings-wrapper hero-unit well">
	<div class="js-storages-settings storages-settings" style="display: none;">
		<a href="" class="js-close-settings close-btn">
			<i class="fa fa-close icon-small"></i>
		</a>
		<div class="js-settings-content"></div>
	</div>
	<div id="recordings-list-container"></div>
</div>