@import url('../../../css/vendor/jquery/jquery.dataTables.css');

.recordings-app {
	/* Monster styles fixes for adaptive layout */
	.core-topbar-wrapper {
		overflow-y: hidden;
	}

	.core-topbar-wrapper::after {
		display: block;
		content: '';
		clear: both;
	}

	.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {
		display: none;
	}

	.ui-widget-content button {
		&.ui-state-default {
			color: #22A5FF;
			&.ui-state-hover {
				border-color: #22A5FF;
				background-color: #22A5FF;
				background-image: none;
				color: white;
			}
		}
	}
}

#recordingsce_app_container {
	/* Override dataTables plugin images to base 64 */
	table.dataTable thead .sorting {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN9JREFUeNpi/P//PwO1ABMxilasWMFJFcOABrEBqQNAWogaLisCYjMgbiGkkBFfmAFdIw2kbgAxDxD/BWKTiIiIC+S6rBpqEAgwA/FkslwGdJUBkDoDNQQZRANdt4xUl03GYhAItEMjhTjDgIqjgJQNDkvkGBkZi0iOAFIBCw6XVYC8g0cf1nDDFWZ9QPwIh9wRkiIAqPgXkKrEIgVKa7kkpzOo7UfQhGdRkmhzoa4BgS9A3Ep23oS6YhaU2wrkPyU5NtFADRAbA9NWH0GVoHRGCC9fvpyTGHVUTbQAAQYAw9p73eOEjMsAAAAASUVORK5CYII=');
	}
	table.dataTable thead .sorting_asc {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIZJREFUeNpi/P//PwO1ABMxilSXMXBSxTCgQWxA6gCQFqKGy4qA2AyIWwgpZMQXZkDXSAOpG0DMA8R/gdjkdhTDBXJdVg01CASYgXgyWS4DusoASJ2BGoIMooGuW0aqyyZjMQgE2qGRQpxhQMVRQMoGhyVy0EghLQJokmhHDRs1bDAZBhBgAHKqHoGZIGgDAAAAAElFTkSuQmCC');
	}
	table.dataTable thead .sorting_desc {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIZJREFUeNpi/P//PwO1ABMDFcGoYaOG0cMwFmyCqssYKoBUOx590bejGJYR67I+IH6EQ+4INoNwGgZU/AtIVWKR+gvEuSSHGdT2I2jCs4DiF8iNgFyoa0DgCxC3kh2bUFfMgnJbgfynJMcmGqgBYmNopOAHoMKREFZZ+p+TGHWM1CxpAQIMAOGPWHkp/4GhAAAAAElFTkSuQmCC');
	}
	table.dataTable thead .sorting_asc_disabled {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIhJREFUeNpi/P//PwO1ABMxilasWMFJFcOABrEBqQNAWogaLisCYjMgbiGkkBFfmAFdIw2kbgAxDxD/BWKTiIiIC+S6rBpqEAgwA/FkslwGdJUBkDoDNQQZRANdt4xUl03GYhAItEMjhTjDgIqjgJQNDkvkGBkZi0iOAJok2lHDRg0bTIYBBBgAXmcmZf5xFh8AAAAASUVORK5CYII=');
	}
	table.dataTable thead .sorting_desc_disabled {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIhJREFUeNpi/P//PwO1ABMDFcGoYaOG0cMwFmyCK1asqABS7Xj0RUdERCwj1mV9QPwIh9wRbAbhNAyo+BeQqsQi9ReIc0kOM6jtR9CEZwHFL5AbAblQ14DAFyBuJTs2oa6YBeW2AvlPSY5NNFADxMaMjIx9BFWCCkdCePny5ZzEqGOkZkkLEGAA5p9Ym9BPvZAAAAAASUVORK5CYII=');
	}

	/* Override datepicker and timepicker */
	.ui-datepicker {
		background-color: white;
	}

	.ui-datepicker-calendar .ui-state-default {
		color: #333;
	}

	.ui-datepicker-calendar .ui-state-default.ui-state-hover {
		border-color: #22A5FF;
		background-color: #22A5FF;
		color: white;
	}

	li.ui-timepicker-selected,
	.ui-timepicker-list li:hover,
	.ui-timepicker-list .ui-timepicker-selected:hover {
		background: #22A5FF;
	}

	/* Bootstrap extend */
	[data-toggle=buttons]>.btn input[type=checkbox],
	[data-toggle=buttons]>.btn input[type=radio],
	[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],
	[data-toggle=buttons]>.btn-group>.btn input[type=radio] {
		position: absolute;
		clip: rect(0,0,0,0);
		pointer-events: none;
	}

	/* App styles*/
	.recordings-wrapper {
		border: none;
		box-shadow: none;
		background: transparent;
		padding-left: 0;
		padding-right: 0;
		padding-top: 27px;
	}

	h1 {
		font-size: 29px;
		font-weight: normal;
	}

	.app-content-wrapper > h1 {
		margin-bottom: 7px;
		display: none;
	}

	label {
		font-size: 17px;
	}

	select,
	input[type="text"] {
		-webkit-box-shadow: inset 1px 1px #ddd;
		-moz-box-shadow: inset 1px 1px #ddd;
		box-shadow: inset 1px 1px #ddd;
		border: none;
		font-size: 18px;
	}


	#recordings_wrapper table {
		background: white;
		margin-bottom: 10px;
	}

	#recordings_wrapper table th,
	#recordings_wrapper table td {
		line-height: 1;
		padding: 8px;
		border: none;
	}

	#recordings_wrapper table th {
		padding-left: 0;
	}

	#recordings_wrapper table td {
		padding-left: 8px;
		padding-right: 8px;
	}

	#recordings_wrapper table thead tr {
		background: #e8e8e8;
	}

	#recordings_wrapper table tbody tr:nth-child(even) {
		background-color: #eee;
	}

	#recordings_wrapper tfoot tr.footable-paging {
		background: #f5f5f5;
	}

	#recordings_wrapper tfoot tr.footable-paging td {
		border: none;
	}

	#recordings_wrapper table .footable-paging .label {
		background: #f5f5f5;
		color: #848484;
		text-shadow: none;
		font-weight: normal;
	}

	#recordings_wrapper table td audio {
		width: 320px;
	}

	#recordings_wrapper table td .btn-wrapper {
		padding-top: 5px;
		text-align: center;
	}

	.recordings-wrapper select#direction {
		width: auto;
	}

	.recordings-table .btn > .fa {
		margin-right: 5px;
	}

	.recordings-table .buttons-wrapper {
		text-align: center;
	}

	.recordings-table .buttons-wrapper .btn {
		margin-right: 5px;
		margin-bottom: 5px;
		padding: 4px 15px;
		white-space: nowrap;
	}

	.recordings-table__actions-col {
		width: 250px;
	}

	.play-btn {
		display: inline-block;
		width: 26px;
		height: 26px;
		background: #333;
		border: none;
		border-radius: 100%;
		margin: auto;
		cursor: pointer;
	}

	.play-btn::after {
		content: '';
		display: inline-block;
		position: relative;
		top: 8px;
		left: 1px;
		vertical-align: top;
		border-style: solid;
		border-width: 5px 0 5px 10px;
		border-color: transparent transparent transparent white;
	}

	.download-btn {
		display: inline-block;
		position: relative;
		padding: 13px 13px;
		background-color: #333;
		color: white;
		font-family: sans-serif;
		text-decoration: none;
		font-size: 0.9em;
		text-align: center;
		text-indent: 15px;
	}

	.download-btn:hover {
		background-color: #333;
		color: white;
	}

	.download-btn:before, .download-btn:after {
		content: ' ';
		display: block;
		position: absolute;
		left: 6px;
		top: 52%;
	}

	/* download box */
	.download-btn:before {
		width: 10px;
		height: 2px;
		border-style: solid;
		border-width: 0 2px 2px;
	}

	/* download arrow */
	.download-btn:after {
		width: 0;
		height: 0;
		margin-left: 3px;
		margin-top: -7px;

		border-style: solid;
		border-width: 4px 4px 0 4px;
		border-color: transparent;
		border-top-color: inherit;

		animation: downloadArrow 2s linear infinite;
		animation-play-state: paused;
	}

	.download-btn:hover:before {
		border-color: white;
	}

	.download-btn:hover:after {
		border-top-color: white;
		animation-play-state: running;
	}

	.filters {
		margin-bottom: 15px;
	}

	.filters .filter-item {
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
		margin-bottom: 10px;
	}

	.filter-item label {
		font-family: 'Source Sans Pro', Helvetica, sans-serif;
		line-height: 29px;
		font-size: 18px;
	}

	.filter-item .btn {
		font-size: 18px;
		font-weight: normal;
		vertical-align: top;
	}

	.duration-filter {
		padding: 5px 12px 0;
		width: 251px;
	}

	.duration-filter-values {
		text-align: center;
	}

	.datetime-filter .date-input,
	.datetime-filter .time-input {
		border: 0;
		font-size: 18px;
		padding: 4px 22px;
	}

	.datetime-filter .date-input {
		width: 85px;
		border: 0;
		font-size: 18px;
	}

	.datetime-filter .time-input {
		width: 41px;
	}

	.datetime-filter .delimiter {
		display: inline-block;
		margin: 0 5px;
		vertical-align: top;
	}

	.filter-search input[type="search"] {
		margin-left: 5px;
		font-size: 18px;
		vertical-align: top;
	}


	.set-date-buttons a {
		border-radius: 0;
		margin-right: 14px;
		height: 19px;
		display: inline-block;
		vertical-align: top;
		line-height: 1;
		font-size: 18px;
	}

	.set-date-buttons a:hover {
		border-bottom: 1px dashed;
	}

	.set-date-buttons .date-range-active:link,
	.set-date-buttons .date-range-active:active,
	.set-date-buttons .date-range-active:visited,
	.set-date-buttons .date-range-active:hover {
		color: #333;
		border-bottom: none;
		cursor: default;
	}

	.chosen-container {
		vertical-align: top;

	}

	.chosen-container-multi .chosen-choices li.search-choice,
	.chosen-container .chosen-results li {
		font-size: 18px;
	}

	.chosen-container-multi .chosen-choices li.search-field {
		height: 30px;
	}

	.chosen-container.chosen-with-drop .chosen-drop {
		-webkit-box-shadow: inset 1px 0 #ddd;
		-moz-box-shadow: inset 1px 0 #ddd;
		box-shadow: inset 1px 0 #ddd;
		border: none;
	}

	.chosen-container-multi .chosen-choices li.search-field input[type=text] {
		width: 149px;
		font-weight: normal;
		font-size: 18px;
		font-family: 'Source Sans Pro', Helvetica, sans-serif;
		border: none;
		box-shadow: none;
	}

	.chosen-container-multi .chosen-choices {
		-webkit-box-shadow: inset 1px 1px #ddd;
		-moz-box-shadow: inset 1px 1px #ddd;
		box-shadow: inset 1px 1px #ddd;
		border: none;
	}

	.dataTables_wrapper .dataTables_filter input {
		vertical-align: 1px;
		-webkit-box-shadow: inset 1px 1px #ddd;
		-moz-box-shadow: inset 1px 1px #ddd;
		box-shadow: inset 1px 1px #ddd;
		border: none;
		font-size: 18px;
	}

	.dataTables_wrapper .dt-buttons {
		padding: 14px 21px 5px;
	}

	.dataTables_paginate .pagination {
		margin: 0;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button {
		background: white;
		border-color: #DEDEDE;
		padding: 4px 14px;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
		background: white;
		border-color: #22A5FF;
		padding: 4px 14px;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
		border-color: #DEDEDE;
		background-color: #F0F0F9;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled a {
		color: #333333;
		cursor: default;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button.active,
	.dataTables_wrapper .dataTables_paginate .paginate_button.active:hover {
		background: transparent;
		border-color: #DEDEDE;
		cursor: default;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button.active a {
		color: #333333;
		cursor: default;
	}

	.header-menu-box {
		clear: both;
		text-align: center;
		.header-btn {
			border-top: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			color: #333333;

			&:hover {
				color: #333333;
			}
		}


	}

	.storages-settings {
		display: block;
		background: white;
		padding: 13px 23px 2px;
		margin-bottom: 24px;
		border-radius: 8px;
		position: relative;
	}

	.storages-settings .close-btn {
		width: 31px;
		display: inline-block;
		text-align: center;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.storages-settings .close-btn i.fa {
		font-size: 20px
	}

	.storages-settings .close-btn:hover i.fa {
		color: #22A5FF;
	}

	.chosen-container .chosen-results li.highlighted {
		background-color: #22A5FF;
		background-image: none;
	}

	select[name="recordings-list_length"] {
		width: 70px;
		vertical-align: top;
		font-size: 18px;
		height: 29px;
		padding: 0 6px;
	}

	.ui-slider .ui-slider-handle {
		z-index: 1;
	}
}

@media (max-width: 700px) {
	#recordingsce_app_container .recordings-table .buttons-wrapper .btn {
		width: 12px;
		overflow-x: hidden;

		i.fa {
			margin-right: 20px;
		}
	}

	#recordingsce_app_container #recordings_wrapper table th,
	#recordingsce_app_container #recordings_wrapper table td {
		font-size: 16px;
		padding: 6px 2px;
	}

	#recordingsce_app_container #recordings_wrapper table tr th:first-child,
	#recordingsce_app_container #recordings_wrapper table tr td:first-child {
		display: none;
	}
}
